
.helpinline{display: inline-block}
.login_box{width:100%;height:100%;position:fixed;top:0px;left:0px;background:#0e93d1}
.login_box .login_inn{width:400px;height:300px;margin-top:-150px;margin-left:-200px;top:50%;left:50%;position:absolute;background:#fff;}
.login_box .login_inn .login_inn_ss{padding:20px;}
.login_box .find_ps{width:100%;height:40px;border-top:1px solid #eee}
.login_box .find_ps a{display:block;font-size:20px;text-decoration:underline;width:110px;margin:0 auto;line-height:63px;}
.login_box .login_inn .remove{width:100%;height:30px;margin-top:30px;}
.login_box .login_inn .remove a{float:left;color:#333;font-size:20px;font-family:"Microsoft Yahei";text-decoration:underline}
.login_box .login_inn .remove input{cursor:pointer;float:right;color:#fff;font-size:20px;font-family:"Microsoft Yahei";background:#0e93d1;padding:5px;text-align:center;height:20px;line-height:20px;width:60px;border:none;}
.login_box .login_inn .item{width: 300px;height: 34px;background: url(../img/formline.png) no-repeat top left;margin:20px 20px;border: 1px solid #e5e5e5;
    border-left: none;}
.login_box .login_inn .item input{float: left;border: 0;background-color: #fff !important;color: #333;outline: 0;width: 244px; height: 34px;}
.login_box .login_inn .us{margin: 10px 14px; display: inline-block;float: left;width:14px;height:16px;background:url(../img/user.png) no-repeat}
.login_box .login_inn .ps{margin: 10px 14px; display: inline-block;float: left;width:14px;height:16px;background:url(../img/password.png) no-repeat}
.bg_box{width:100%;height:100%;position:fixed;top:0px;left:0px;background:rgba(0,0,0,0.5);display:none;}
.bg_box .bg_inn{width:400px;height:300px;margin-top:-150px;margin-left:-200px;top:50%;left:50%;position:absolute;background:#fff;
    border:10px solid rgba(0,0,0,0.5);position:relative;

}
ul{}
.bg_box .bg_inn>img{position:absolute;right:5px;top:3px;}
.bg_box .bg_inn .bg_tit{padding-left:10px;background:#0e93d1;height:40px;line-height:40px;color:#fff}
.bg_box .bg_inn .bg_choose{padding-left:20px;margin-top:30px;font-size:20px}

.bg_box .bg_inn .bg_list_1{margin-top:10px; margin-left:10px;}
.bg_box .bg_inn .bg_list_1>span{color:#0e93d1}
.bg_box .bg_inn .bg_list_1 ul{margin-top:20px;height:20px;margin-bottom:10px;}
.bg_box .bg_inn .bg_list_1 ul li{float:left}
.bg_box .bg_inn .bg_list_1 ul a{padding:5px 10px; border:1px solid #666}
.bg_box .bg_inn .bg_list_1 ul a:hover{border:2px solid orange}
/* ��¼ע�� */
.xindengluyelogomain {
    clear:both;
    height:auto;
    width:985px;
    margin:24px auto 20px auto;
}

.xindengluyemianlogo {
    display:block;
    background:url(../img/logo.png) 0 0 no-repeat;
    width:189px;
    height:90px;
    float:left;
}
.xindengluyemiancenter{
    width: 100%;
    height: auto;
    margin: 0 auto;
    clear: both;
    background: rgb(234,245,247);
}
.xindengluyemiancentermain {
    width:985px;
    height:auto;
    margin:0 auto;
    clear:both;
    padding-top:32px;
}

.xindengluyemiancenterL {
    width:523px;
    height:398px;
    float:left;
    margin:0 0 0 20px;
    padding-top: 66px;
}

.xindengluyemiancenterR {
    width:297px;
    height:auto;
    float:right;
    background: #fff;
    padding: 40px 45px 20px 45px;
}

.xindengluyemianbtmain {
    border-bottom:#fc7122 1px solid;
    width:auto;
    height:31px;
    margin-bottom:15px;
}

.xindenglubtndengluB {
    display:block;
    width:149px;
    height:31px;
    float:left;
    background:url(../img/xindengluPhoto.png) 0 0 no-repeat;
}

.xindenglubtndengluJ {
    display:block;
    width:149px;
    height:31px;
    float:left;
    background:url(../img/xindengluPhoto.png) 0 -32px no-repeat;
}

.xinzhucebtndengluB {
    display:block;
    width:148px;
    height:31px;
    float:left;
    background:url(../img/xindengluPhoto.png) -150px -32px no-repeat;
}

.xinzhucebtndengluJ {
    display:block;
    width:148px;
    height:31px;
    float:left;
    background:url(../img/xindengluPhoto.png) -150px 0 no-repeat;
}

.xindengluinputmain_yanzhengma {
    width:auto;
    height:auto;
    margin-top:5px;
}

.xindengluinputmain {
    width:auto;
    height:auto;
    margin-top:5px;
}

.xindengluinputmain_b {
    font-weight:normal;
    font-size:13px;
    color:#eb7600;
    font-family:"΢���ź�", "����";
    line-height:1.8em;
}

.xindengluinputmain_input_nonebg {
    width:285px;
    height:37px;
    background:#fedeba;
    border:#fedeba 1px solid;
    font-size:14px;
    font-family:"΢���ź�", "����";
    color:#333;
    padding:0 5px;
}

.xindengluinputmain_input_gou {
    width:285px;
    height:37px;
    background:#fedeba;
    background:url(../img/xindengluPhoto.png) 0 -64px no-repeat;
    border:#fedeba 1px solid;
    font-size:14px;
    font-family:"΢���ź�", "����";
    color:#333;
    padding:0 5px;
}

.xindengluinputmain_input_cha {
    width:285px;
    height:37px;
    background:#fedeba;
    background:url(../image/xindengluPhoto.png) 0 -102px no-repeat;
    border:#fc7122 1px solid;
    font-size:14px;
    font-family:"΢���ź�", "����";
    color:#333;
    padding:0 5px;
}

.xindengluinputmain_em {
    font-style:normal;
    font-size:11px;
    color:#868686;
    font-family:"΢���ź�", "����";
    line-height:1.8em;
    float:left;
    clear:both;
}

.xindengluinputmain_em_a {
    text-decoration:none;
    color:#fc7122;
    margin-left:5px;
}

.xindengluinputmain_em_a:hover {
    text-decoration:underline;
}

.xindengluinputmain_input_yanzhengma {
    width:158px;
    height:37px;
    background:#fedeba;
    float:left;
    border:#fc7122 1px solid;
    font-size:14px;
    font-family:"΢���ź�", "����";
    color:#333;
    padding:0 5px;
}

.xindengluinputmain_yanzhengma_img {
    display:block;
    width:74px;
    float:left;
    height:33px;
    background:#fedeba;
    padding-top:6px;
}

.xindengluinputmain_yanzhengma_input_noborder {
    width:140px;
    height:39px;
    background:#fedeba;
    border:none;
    float:left;
    font-size:14px;
    font-family:"΢���ź�", "����";
    color:#333;
    padding:0 5px;
}

.xindengluinputmain_yanzhengma_input {
    width:147px;
    height:37px;
    background:#fedeba;
    float:left;
    border:#fc7122 1px solid;
    font-size:14px;
    font-family:"΢���ź�", "����";
    color:#333;
    padding:0 5px;
}

.xindengluinputmain_input_yanzhengmahuoqu {
    border:none;
    width:125px;
    float:left;
    height:39px;
    background:#fc7122;
    color:#FFF;
    text-align:center;
    font-family:"΢���ź�", "����";
    cursor:pointer;
}

.xindengluinputmain_input_yanzhengmahuoqu_mobile_hui {
    border:none;
    width:125px;
    float:left;
    height:39px;
    background:#bcbcbc;
    color:#FFF;
    text-align:center;
    font-family:"΢���ź�", "����";
    cursor:pointer;
}

.xindengluinputmain_input_yanzhengmahuoqu_hui {
    border:none;
    width:75px;
    float:left;
    height:39px;
    background:#bcbcbc;
    color:#FFF;
    text-align:center;
    font-family:"΢���ź�", "����";
    cursor:pointer;
}

.xindengluinputmain_input_yanzhengmahuoqu_juhong {
    border:none;
    width:72px;
    float:left;
    height:39px;
    background:#fc7122;
    color:#FFF;
    text-align:center;
    font-family:"΢���ź�", "����";
    cursor:pointer;
}

.dengluButtommain {
    width:auto;
    height:auto;
    margin-top:10px;
}

.dengluButtommain ul li {
    float:left;
    padding:8px 0;
    margin-right:10px;
}

.dengluButtomzhuce {
    width:295px;
    height:38px;
    background:url(../img/dengLuButton.png) 0 -140px no-repeat;
    border:none;
    cursor:pointer;
}

.dengluButtomzhuce_denglu {
    width:295px;
    height:38px;
    background:url(../img/dengLuButton.png) 0 -277px no-repeat;
    border:none;
    cursor:pointer;
}

.dengluButtommainWeibo {
    display:block;
    width:81px;
    height:19px;
    background:url(../img/dengLuButton.png) 0 -179px no-repeat;
}

.dengluButtommainWeixin {
    display:block;
    width:81px;
    height:19px;
    background:url(../img/dengLuButton.png) -176px -179px no-repeat;
}

.dengluButtommainQQ {
    display:block;
    width:81px;
    height:19px;
    background:url(../img/dengLuButton.png) -88px -179px no-repeat;
}

.mimaqiandu {
    float:right;
}

.mimaqiangdu_1 {
    display:block;
    width:38px;
    height:14px;
    background:#fc7122;
    margin-left:5px;
    font-size:11px;
    text-decoration:none;
    text-align:center;
    color:#FFF;
    float:right;
    margin-top:4px;
    line-height:15px;
}

.mimaqiangdu_2 {
    display:block;
    width:38px;
    height:14px;
    background:#ff965b;
    margin-left:5px;
    font-size:11px;
    text-decoration:none;
    text-align:center;
    color:#FFF;
    float:right;
    margin-top:4px;
    line-height:15px;
}

.mimaqiangdu_3 {
    display:block;
    width:38px;
    height:14px;
    background:#7f7f7f;
    margin-left:5px;
    font-size:11px;
    text-decoration:none;
    text-align:center;
    color:#FFF;
    float:right;
    margin-top:4px;
    line-height:15px;
}

.xindengluyemianzidongdenglu {
    width:auto;
    height:auto;
    padding-top:20px;
}

.xindengluyemianzidongdenglu a {
    font-size:13px;
    float:left;
    margin:1px 0 0 15px;
    color:#fc7122;
    font-family:"΢���ź�", "����";
    text-decoration:none;
}

.xindengluyemianzidongdenglu a:hover {
    text-decoration:underline;
}

.xindengluyemianzidongdenglu label em {
    padding-top:5px;
    display:block;
    float:left;
}

.xindengluyemianzidongdenglu b {
    font-size:13px;
    font-family:"΢���ź�", "����";
    color:#fc7122;
    float:left;
    margin:1px 0 0 5px;
}

/* �ֻ�ע�� */
.shoujizhucemain {
    border-top:#fedeba 1px solid;
    width:985px;
    height:auto;
    margin-top:32px;
    margin:0 auto;
}

.shoujizhuceGreen {
    width:auto;
    height:auto;
    padding:36px 0 0 166px;
}

.shoujizhuceGreen a {
    display:block;
    color:#fc7122;
    clear:both;
    font-size: 14px;
    margin:0 0 0 55px;
}

.shoujizhuceGreen ul li {
    float:left;
    margin-bottom:15px;
}

.shoujizhuceGreen ul li em {
    display:block;
    width:48px;
    height:35px;
    background:url(../img/dengLuButton.png) 0 -240px no-repeat;
}

.shoujizhuceGreen ul li b {
    color:#6cb640;
    display:block;
    font-size:24px;
    padding:5px 0 0 5px;
}

.shoujizhucetishi {
    color:#595959;
    width:auto;
    height:32px;
    font-size: 14px;
    padding:15px 0 0 220px;
}

.shoujizhucetishi ul li b {
    color:#fc7122;
}
.errorTip{
    line-height: 25px;
    margin-left: 10px;
    color: red;
}
.shoujizhucetishi ul li a {
    color:#2382c4;
    text-decoration:none;
}

.shoujizhucetishi ul li a:hover {
    text-decoration:underline;
}

.youjianfasongmain {
    border:#fedeba solid 1px;
    width:594px;
    height:auto;
    padding:40px 0 40px 66px;
    margin:0 0 0 220px;
}

.youjianfasongmain ul li {
    margin-bottom:15px;
}

.youjianfasongmain ul li b {
    color:#6cb640;
    font-weight:normal;
    font-size:24px;
}

.youjianfasongmain ul li em {
    font-style:normal;
    line-height:60px;
}

.shoujizhucebtn1 {
    width:189px;
    height:28px;
    border:1px solid #c5c5c5;
    padding:0 5px;
}

.shoujizhucebtn2 {
    border:none;
    background:#fc7122;
    color:#fff;
    cursor:pointer;
    width:102px;
    height:30px;
}

.youjianfasongmain ul li a {
    color:#fc7122;
    font-size:18px;
}

.youjianfasongmain ul li i {
    line-height:20px;
    font-style:normal;
    color:#595959;
    font-size: 14px;
}

.youjianfasongmain ul li i t {
    color:#fc7122;
}

/* �����һ�  */
.mimazhaohuiCenter {
    width:985px;
    height:auto;
    margin:0 auto;
}

.mimazhaohuiTitle {
    width:auto;
    height:29px;
    padding-left:46px;
    line-height:29px;
    font-size:14px;
    font-weight:bold;
    color:#595959;
}

.mimazhaohuiNr {
    width:auto;
    height:auto;
    padding:28px 0 0 123px;
}

.mimazhaohui {
    width:auto;
    height:18px;
}

.mimazhaohui ul li {
    float:left;
}

.mimazhaohui_ul_li_juhong_1 {
    color:#ec8900;
    background:url(../img/mimazhaohuiImg.jpg) 0 0 no-repeat;
    width:115px;
    height:15px;
    padding-left:43px;
    line-height: 13px;
    padding-top:3px;
    font-size:12px;
    margin-left:28px;
}

.mimazhaohui_ul_li_heibai_1 {
    color:#fff;
    background:url(../img/mimazhaohuiImg.jpg) 0 -19px no-repeat;
    width:115px;
    height:15px;
    line-height: 13px;
    padding-left:43px;
    padding-top:3px;
    font-size:12px;
    margin-left:28px;
}

.mimazhaohui_ul_li_juhong_2 {
    color:#ec8900;
    background:url(../img/mimazhaohuiImg.jpg) 0 -38px no-repeat;
    width:115px;
    height:15px;
    padding-left:43px;
    line-height: 11px;
    padding-top:3px;
    font-size:12px;
    margin-left:28px;
}

.mimazhaohui_ul_li_heibai_2 {
    color:#fff;
    background:url(../img/mimazhaohuiImg.jpg) 0 -57px no-repeat;
    width:115px;
    height:15px;
    padding-left:43px;
    padding-top:3px;
    font-size:12px;
    margin-left:28px;
}

.mimazhaohui_ul_li_1 {
    color:#a8a8a8;
    width:115px;
    height:15px;
    padding-left:43px;
    padding-top:3px;
    font-size:12px;
    margin-left:28px;
}

.mimazhaohuiZhangHuMain {
    width:auto;
    height:auto;
    padding:44px 0 0 202px;
}

.mimazhaohuiZhangHuMain ul li {
    clear:both;
}

.mimazhaohuiZhangHuMain ul li em {
    font-size:13px;
    color:#6b6a6a;
    font-style:normal;
    display:block;
    padding-top:6px;
    float:left;
    text-align:right;
}

.xingMingT {
    font-size:14px;
    line-height:25px;
    color:#ec8900;
}

.mimazhaohuiZhangHuMain ul li b {
    float:left;
}

.mimazhaohuiZhangHuMain ul li i {
    font-size:12px;
    color:#6b6a6a;
    font-style:normal;
    display:block;
    padding-top:6px;
    float:left;
    margin-left:5px;
}

.mimazhaohuiZhangHuMain ul li i a {
    text-decoration:none;
    color:#2382c4;
}

.mimazhaohuiZhangHuMain ul li i a:hover {
    text-decoration:underline;
}

.mimazhaohuiZhangHuMain_ul_li_input {
    height:25px;
    width:221px;
    border:#c1c1c1 solid 1px;
    float:left;
    padding:0 5px;
    color:#6b6a6a;
}

.mimazhaohuiZhangHuMain_ul_li_input_1 {
    height:25px;
    width:158px;
    border:#c1c1c1 solid 1px;
    float:left;
    margin-right:5px;
    padding:0 5px;
    color:#6b6a6a;
    margin-bottom: 30px;
}

.mimazhaohuiZhangHuMain_ul_li_input_2 {
    width:77px;
    height:28px;
    margin-left:42px;
    margin: 30px 120px;
}

.mimazhaohuiZhangHuMain_ul_li_input_1_redborder {
    height:25px;
    width:221px;
    border:red solid 1px;
    float:left;
    padding:0 5px;
    color:#6b6a6a;
}

.mimazhaohuiZhangHuMain_ul_li_input_duoxuan {
    width:221px;
    height:26px;
    padding:4px 3px;
}

.mimazhaohuiZhangHuMain_ul_li_input_3 {
    height:28px;
    margin: 20px 120px;
}

.mimazhaohuiGehang {
    height:24px;
    padding:3px 0 0 0;
}
.mimazhaohuiGehang2{
    height:24px;
    padding:3px 0 0 0;
    color:red;
}
.mimazhaohuiGehang2 em{
    font-style: normal;
}
.mimazhaohuiGehang em {
    font-style:normal;
    font-size:12px;
    color:red;
}
.huoQuShouJiYanZhengMa {
    background:url(../img/login/denglumimaxiugai_img.png) 0 -143px no-repeat;
    border:none;
    cursor:pointer;
    width:112px;
    height:27px;
    color:#595959;
}

.mimazhaohuiGehang ul li {
    float:right;
}

.mimazhaohuiQiangdu_juhong {
    width:38px;
    height:12px;
    background:#fc7122;
    font-size:11px;
    font-weight:normal;
    margin-left:3px;
    text-align:center;
    color:#fff;
}

.mimazhaohuiQiangdu_hui {
    width:38px;
    height:12px;
    background:#7f7f7f;
    font-size:11px;
    font-weight:normal;
    margin-left:3px;
    text-align:center;
    color:#fff;
}

.yanzhengshenfen {
    width:auto;
    height:auto;
    padding:44px 0 28px 202px;
}

.yanzhengshenfen ul li em {
    display:block;
    background:url(../img/login/dengLuButton.png) 0 -240px no-repeat;
    width:48px;
    height:35px;
    float:left;
    margin-right:15px;
}

.yanzhengshenfen ul li b {
    color:#6b6a6a;
    float:left;
    margin-top:13px;
    font-weight:normal;
    padding-left:15px;
}

.yanzhengshenfen ul li p i {
    color:#6cb640;
    font-style:normal;
    font-size: 14px;
    display:block;
    margin-bottom:6px;
}

.yanzhengshenfen ul li p t {
    color:#6b6a6a;
    font-style:normal;
    font-size:14px;
    display:block;
}

.yanzhengshenfen ul li p t a {
    color:#2382c4;
    text-decoration:none;
}

.yanzhengshenfen ul li p t a:hover {
    text-decoration:underline;
}

.yanzhengshenfen ul li b a {
    text-decoration:none;
    color:#ec8900;
}

.yanzhengshenfen ul li b a:hover {
    text-decoration:underline;
}
.cont{width:100%;margin:0 auto;overflow:hidden;}
.top{width:100%;height:42px;margin:0 auto;background:#0e93d1;}
body{font-family:"Microsoft Yahei"}
.top .top_left{float:left;}
.top .top_left .go_index{display:inline-block;width:202px;height:38px;margin-right:10px;}
.top .top_left .a_1{width:202px;height:38px;display:inline-block;margin-left:20px;}
.top .top_left .a_2{width:17px;height:19px;display:inline-block;margin-left:20px;color:#fff;margin-left:10px;}
.top .top_left .top_text{margin-left:10px;color:#fff;}
.top .top_left .top_num{padding:3px 5px;display:inline-block;margin-left:20px;background:#ec5051;border-radius:8px;color:#fff;text-align:center;margin-right:10px;}
.top .top_left .line{margin-right:10px;}
.top .top_right{float:right;}
.top .top_right a{color:#fff;display:inline-block;width:55px;height:40px;margin-right:10px;line-height:42px;}
.bottom{}
.bottom .bottom_left{float:left;background:#065c85;height:1000px;width:13%;}
.bottom .bottom_left_2{float:left;background:#38b9f5;height:1000px;width:8px;position:relative;}
.bottom .bottom_left_2>img{display:inline-block;position:absolute;top:50%;left:0px;width:8px;height:15px;margin-top:-7.5px;}
.bottom .bottom_left>ul>li{color:#fff;line-height:40px;overflow:hidden;}
.bottom .bottom_left li a{padding-right:10px;}
.bottom .bottom_left li a>img{margin-left:10px;}
.bottom .bottom_left li ul{display:none;margin:0}
.bottom .bottom_left li ul li{color:#666;line-height:40px;padding:0px 10px;text-align:center;overflow:hidden;background:#efefef}
.bottom .bottom_left li ul li>a{color:#666;line-height:40px;padding:0px 10px;text-align:center;overflow:hidden;}
.bottom .bottom_left li>a{color:#fff;display:inline-block;width:100%}
.bottom .bottom_left li span{margin-left:16px;}
.bottom .bottom_left li .jia{margin-left:47px;display:inline-block;width:14px;height:14px;margin-top:15px;}
.bottom .bottom_left li span.add{margin-left:47px;display:inline-block;width:14px;height:14px;margin-top:15px;background:url(../img/pic-4_03.png) no-repeat 0px 0px;background-size:100%;position:relative;top:2px;}
.bottom .bottom_left li span.sub{margin-left:47px;display:inline-block;width:14px;height:14px;margin-top:15px;background:url(../img/pic-5_06.png) no-repeat 0px 8px;background-size:100%;}
.bottom .bottom_right{float:left;width:82%;height:1000px;overflow-y: scroll;}
.bottom .bottom_right .bottom_right_son{padding:20px 10px;position:relative;}
.bottom .bottom_right .bottom_right_son .bottom_add{position:absolute;top:5px;right:20px;padding:10px 10px;background:red}
.bottom .bottom_right .bottom_right_son .bottom_right_tit{padding-bottom:5px;border-bottom:1px solid #666;font-size:26px;color:#666}
.bottom .bottom_right .bottom_right_son .pay_list{width:100%;margin-top:20px;}
.bottom .bottom_right .bottom_right_son .pay_list li{float:left;margin-right:10px}
.bottom .bottom_right .bottom_right_son .pay_list li.on{color:red}
.bottom .bottom_right .bottom_right_son .bottom_choose{margin-top:20px;}
.bottom .bottom_right .bottom_right_son p{margin-bottom:10px}
.bottom .bottom_right .bottom_right_son .sp span{padding:5px 20px;background:red;color:#fff;cursor: pointer}
.bottom .bottom_right .bottom_right_son table{width:100%;border:1px solid #999;border-top:1px solid #999;}
.bottom .bottom_right .bottom_right_son table thead{background:#f1f1f1;height:30px;line-height:30px;}
.bottom .bottom_right .bottom_right_son table thead th{border:1px solid #999;text-align:center}
.bottom .bottom_right .bottom_right_son table tbody td{border:1px solid #999;text-align:center}
.bottom .bottom_right .bottom_right_son table tbody td .show-img{display:inline-block;width:106px;height:100px}
.bottom .bottom_right .bottom_right_son table tbody td .pro-name{width:100px;}
.bottom .bottom_right .bottom_right_son table tbody td .time_1{color:blue}
.bottom .bottom_right .bottom_right_son table tbody td .time_2{color:blue}
.bottom .bottom_right .bottom_right_son table tbody td .time_3{color:red}
.bottom .bottom_right .bottom_right_son table tbody td .dir span{color:red}
.bottom .bottom_right .bottom_right_son table tbody td a{text-decoration: underline}
.bottom .bottom_right .bottom_right_son table tbody td a.a_link{color:blue}
.bottom .bottom_right .bottom_right_son table tbody td p.qg{color:red}
.bottom .bottom_right .bottom_right_son table tbody td .s-start{color:blue}
.bottom .bottom_right .bottom_right_son table tbody td .e-end{color:red}
.bottom .bottom_right .bottom_right_son table tbody td .last-a{color:blue}
.zhou_2_ul{width:100%;height:40px;background:#eee}
.zhou_2_ul li{float:left;width:70px;height:40px;line-height:40px;margin-right:10px;background:#eee;color:#333;padding:0px 8px;}
.zhou_2_ul li.on{background:#fff;color:#000;}
.zhou_2_floor>div{display:none;}
.zhou_2_floor>div.dis{display:block;}
.zhou_2_floor .zhou_2_ty form{margin-left:30px;margin-top:20px;}
.zhou_2_floor .zhou_2_ty p{position:relative;}
.zhou_2_floor .zhou_2_ty p.last{margin-left:100px;}
.zhou_2_floor .zhou_2_ty p.last .sure{padding:5px 8px;background:red;text-align:center;border:none;margin-right:10px;}
.zhou_2_floor .zhou_2_ty p.last .reset{padding:5px 8px;background:red;text-align:center;border:none;}
.zhou_2_floor .zhou_2_ty p .red{color:red}
.zhou_2_floor .zhou_2_ty p.pro-img img{display:inline-block;width:100px;height:100px;}
.zhou_2_floor .zhou_2_ty p input[type="radio"]{margin-left:5px;}
.zhou_2_floor .zhou_2_pz p input[type="radio"]{margin-left:5px;}
.zhou_2_floor .zhou_2_ty p label{display:inline-block;width:100px;text-align:right}
.zhou_2_floor .zhou_2_ty textarea{width:300px;height:50px;}
.zhou_2_floor .zhou_2_ty .zhou_2_catch{text-align:center;background:#ebe9ec;cursor:pointer;border:1px solid #ebe9ec;padding:5px 10px ;display:inline-block;margin-left:100px;margin-bottom:10px;}
.zhou_2_floor .zhou_2_ty .look{margin-left:100px;}
.zhou_2_floor .zhou_2_pz{margin-left:50px;margin-top:20px;}
#zhou_2_img{display:inline-block;width:100px;height:100px;}
.zhou_2_floor .zhou_2_ty #sh{display:none;color:red}
.look p{padding-top:5px;}
.look p span{margin-right:5px;}
.pay_list{font-size: 16px;
    margin-bottom: 20px;}
