<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="daoLaoKeService" class="com.mwb.service.dataoke.DaoLaoKeService"
          init-method="init">
        <property name="appKey" value="8jdrk90okh" />
        <property name="mock" value="true"/>
        <property name="maxConnection" value="150"/>
        <property name="connectionTimeout" value="10000"/>
        <property name="socketTimeout" value="10000"/>
    </bean>
</beans>